*{
    margin: 0;
    padding: 0;
    font-family: arial;
}
header{
    width: 100%;
    background-image: url(background.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 15px;   
}
nav a{
color: white;
text-decoration: none;
font-weight: bold;
}
.logo img{
    width: 45px;
    border-radius: 50%;

}
.mytext{
    margin-top: 4cm;
    margin-left: 50px;
    color: white;
    font-size: 30px;
}
.mytext button{
    background-color: darkorange;
    padding: 10px;
    border: none;
}
.mytext button a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.image img{
    position: absolute;
    top: 25%;
    left: 60%;
    width: 30%;
    border: 10px solid darkorange;
    border-radius: 70%;
    box-shadow: 1px 1px 10px 10px darkorange;
    background-color: orange;

}